<div>
    Администратор имеет также доступ к администраторской панели.
    На ней отображается список пользователей.
    Внешний вид страницы с администраторской панелью предсталвен на рисунке.
</div>
<br />
<img src="~/images/Admin panel.png" class="img-fluid" alt="...">
<div style="margin:0 auto; text-align:center;"><div>Администраторская панель</div></div>
<div>
    Администратор имеет возможность заблокировать и разблокировать пользователя с помощью соответственных кнопок Block и Unblock.
    У администратора также есть возможность пометить ползователя как удаленного с помощью кнопки Delete.
    Пользователь, помеченный как удаленный, не может войти, также администратор не видит его транзакций и счетов, хотя история сохраняется.
    Администратор может восстановить пользователя с помощью кнопки Restore.
</div>