<div>
    При переходе на страницу со счетами пользователю открывается список счетов. Внешний вид страницы представлен на рисунке.
</div>
<br />
<img src="~/images/Bills.png" class="img-fluid" alt="...">
<div style="margin:0 auto; text-align:center;"><div> </div></div>
<div>
    В основной части страницы представлен список счетов со ссылками Edit, Details и Delete, которые ведут на страницы редактирования, просмотра детальной информации и удаления соответственно. Нажав на кнопку Balance, в колонку Balance загружается остаток средств по выбранному счету. Перейдя по ссылке Create New, пользователь перенапрявляется на страницу с формой создания счета.
</div>