<div>
    Внешний вид страницы создания транзакции предсталвен на рисунке.
</div>
<br />
<img src="~/images/CreateTransaction.png" class="img-fluid" alt="...">
<div style="margin:0 auto; text-align:center;"><div> </div></div>
<div>
    В поле Amount вводится сумма, из выпадающий списков Credit и Debit выбираются счета кредита и дебета соответственно. В поле Date есть возможность выбора даты. В поле Description вводится описание.При нажатии на кнопку Create создается транзакция, в случае ошибки форма возвращается с соответствующим сообщением.
</div>
<div>
    Страница создания транзакции аналогична странице редактирования транзакции, однако на ней вместо кнопки Create есть кнопка Save, сохраняющая изменения транзакцию.
</div>