<div>
    Внешний вид формы создания счета представлен на рисунке.
</div>
<br />
<img src="~/images//CreateBill.png" class="img-fluid" alt="...">
<div style="margin:0 auto; text-align:center;"><div> </div></div>
<div>
    В поля Name, Balance вводится название и начальный баланс соответственно. Из выпадающих список Type bill и User выбираются тип счета (активный или пассивный) и пользователь соответственно. Поле User доступно только администратору.
</div>
<div>
    Форма редактирования счета выглядит аналогично, с той ризницей, что вместо кнопки Create расположена кнопка Save. Также автоматически подставляются редактируемые данные.
</div>