<div>
    При переходе на страницу Details открывается страница с описанием атрибутов счета в колонку. Внешний вид страницы представлен на рисунке.
</div>
<br />
<img src="~/images/DetailsBill.png" class="img-fluid" alt="...">
<div style="margin:0 auto; text-align:center;"><div> </div></div>
<div>
    На странице есть ссылки Edit и Back to List для перехода на страницы редактирования и возврата к списку транзакций соответственно
</div>
<div>
    При переходе на страницу Delete открывается страница, подобная Details, однако на ней присутствует кнопка удаления Delete
</div>
<img src="~/images/DeleteBill.png" class="img-fluid" alt="...">
