<div>
    В подвале расположены символ авторских прав, насвание проекта и ссылка Help на справочную систему
</div>
<br />
<img src="~/images/Footer.png" class="img-fluid" alt="...">
<div style="margin:0 auto; text-align:center;"><div> </div></div>