<div>
    У администратора также есть доступ с итории действий и входов пользователей. Открыть эти страницы можно через ссылки в меню History и HistorySignIn соответственно. Внешний вид этих страниц представлен на рисунках.
</div>
<br />
<img src="~/images/History.png" class="img-fluid" alt="...">
<img src="~/images/HistorySignIn.png" class="img-fluid" alt="...">