<div>
    После запуска веб-приложения пользователь попадает на главную страницу. Все страницы имеют 3 части: шапка сайта, основная часть и подвал.
    На основной части главной страницы находится приветствие и ссылки Sign in и Sign up на страницу с авторизации и регистрации соответственно. Внешний вид основной части представлен на рисунке
</div>
<br />
<img src="~/images/Home.png" class="img-fluid" alt="...">
<div style="margin:0 auto; text-align:center;"><div> </div></div>
<div>
    При переходе по ссылке Sign in пользователь перенаправляется на страницу авторизацииЕсли выбран пункт Sign up, то пользователь перенаправляется на страницу с формой регистрацииПосле успешной авторизации пользователь перенаправляется на страницу со списком транзакций
</div>