<div>
    На шапке расположено меню.
</div>
<br />
<img src="~/images/Menu.png" class="img-fluid" alt="...">
<div style="margin:0 auto; text-align:center;"><div> </div></div>
<div>
    В меню сайта есть 3 ссылки: Home, Bills, Transactions. Ссылка Home ведет на главную страницу, если пользователь не авторизован, и на страницу со списком транзакций в противном случае. Ссылка Bills ведет на главную страницу, если пользователь не авторизован, и на страницу со списком счетов в противном случае. Ссылка Transactions ведет на главную, если пользователь не авторизован, и на страницу со списком транзакций в противном случае.
    Также имеется выпадающий список Authorization
</div>
<img src="~/images/MenuAuthor.png" class="img-fluid" alt="...">
<div>
    В этом списке есть 2 ссылки: Sign in и Sign up. Если пользователь авторизван, то есть еще пункт Sign out. Ссылка Sign in ведет на страницу авторизации Ссылка Sign up ведет на страницу регистрации. Ссылка Sign out осуществляет выход из учетной записи и перенаправляет пользователя на главную страницу.
</div>
<div>
    Если пользователь авторизован и является администратором, то в меню добавляются еще 3 ссылки: History, HistorySignIn и Admin panel.
</div>
<img src="~/images/AdminMenu.png" class="img-fluid" alt="...">
<div>
    Ссылка History ведет на страницу и историей действий пользователей. Ссылка HistorySignIn ведет на страницу истории входов и выходов пользователей из учетных записей. Ссылка Admin panel ведет на страницу со списком пользователей и действиями над их учетными записями.
</div>