<div>
    Если выбран пункт Sign up, то пользователь перенаправляется на страницу с формой регистрации. Внешний вид формы представлен на рисунке.
</div>
<br />
<img src="~/images/SigningUp.png" class="img-fluid" alt="...">
<div style="margin:0 auto; text-align:center;"><div> </div></div>
<div>
    В поля Email и Password вводится электронная почта, пароль и подтверждение пароля соответственно. При нажатии кнопки Sign up происходит регистрация пользователя и вход соответственно.
    После успешной авторизации пользователь перенаправляется на страницу со списком транзакций.
</div>