<div>
    При переходе по ссылке Sign in пользователь перенаправляется на страницу авторизации. Форма авторизации представлена на рисунке
</div>
<br />
<img src="~/images/SigningIn.png" class="img-fluid" alt="...">
<div style="margin:0 auto; text-align:center;"><div> </div></div>
<div>
    В поля Email и Password вводится электронная почта и пароль соответственно. Чекбокc Remember позволяет сохранить вход в учетную запись при закрытии браузера. При нажатии кнопки Sign in выполняется вход в систему. Если вход не удалость выполнить, возвращается форма и сообщение об ошибке.
</div>