<div>
    Внешний вид страницы со списком транзакций представлен на рисунке.
</div>
<br />
<img src="~/images/Transactions.png" class="img-fluid" alt="...">
<div style="margin:0 auto; text-align:center;"><div> </div></div>
<div>
    На страницу отображается список совершенных транзакций и форма с фильтром в левой части. Если выполнен вход под учетной записью администратора, то выводится список транзакций всех пользователей.
    С помощью фильтров можно настроить вывод согласно кредита (поле Credit), дебета (поле Debit) счета, настроить диапазон суммы (поля Amount from и Amount to) и даты ( поля Date from и Date to).
    Возле каждой транзакции есть ссылки Edit, Details и Delete, которые ведут на страницы редактирования, просмотра детальной информации и удаления соответственно.
</div>